
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .container{
        @apply px-32
    }
    .trans{
        @apply transition-all duration-500
    }
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    left: -70px;
    background-color: #22c55e;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* uer review section  */

.testimonial-content::before {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    content: "\201C";
    display: block;
    font-size: 300px;
    color: rgba(25, 209, 25, 0.195);
    font-weight: bold;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -20;
}

.testimonial ::-webkit-scrollbar {
    display: none;
}

input{
    outline : none;
}

textarea{
    outline : none;
}






